:root {
    --pure-white: rgba(255, 255, 255, 1);
    --off-white: rgba(244, 243, 245, 1);
    --warm-white: rgba(255, 248, 243, 1);

    --warm-light-gray: rgba(232, 230, 223, 1);
    --mid-gray: rgba(215, 210, 203, 1);
    --warm-gray: rgba(140, 130, 121, 1);

    --light-gray: rgba(217, 217, 214, 1);
    --cool-gray: rgba(177, 179, 179, 1);
    --dark-gray: rgba(69, 65, 66, 1);

    --light-brown: rgba(225, 211, 199, 1);
    --brown: rgba(191, 148, 116, 1);
    --dark-brown: rgba(92, 71, 56, 1);

    --light-yellow: rgba(255, 227, 153, 1);
    --yellow: rgba(255, 185, 0, 1);
    --dark-yellow: rgba(127, 90, 26, 1);

    --light-orange: rgba(255, 163, 139, 1);
    --orange: rgba(255, 92, 57, 1);
    --dark-orange: rgba(115, 57, 29, 1);

    --light-red: rgba(255, 179, 187, 1);
    --red: rgba(244, 54, 76, 1);
    --dark-red: rgba(115, 38, 47, 1);

    --light-magenta: rgba(213, 158, 215, 1);
    --magenta: rgba(192, 59, 196, 1);
    --dark-magenta: rgba(112, 37, 115, 1);

    --light-purple: rgba(197, 180, 227, 1);
    --purple: rgba(134, 97, 97, 1);
    --dark-purple: rgba(70, 54, 104, 1);

    --light-blue: rgba(141, 200, 232, 1);
    --blue: rgba(0, 120, 212, 1);
    --dark-blue: rgba(42, 68, 111, 1);

    --light-teal: rgba(185, 220, 210, 1);
    --teal: rgba(73, 197, 177, 1);
    --dark-teal: rgba(34, 91, 98, 1);

    --light-green: rgba(212, 236, 142, 1);
    --green: rgba(141, 233, 113, 1);
    --dark-green: rgba(7, 100, 29, 1);

    --light-black: rgba(9, 31, 44, 1);
    --black: rgba(0, 0, 0, 1);
    --dark-black: rgba(41, 24, 23, 1);

    /* Effect; */
    --frosted-glass: url('/images/base-assets.svg#frosted-glass');
    --frosted-glass-size: 200px 200px;
}