<div class="wrapper">
    {{> organisms-main-header }}
    <main>
        {{>templates-hero-main}}
        {{> templates-event-section}}
        {{> templates-team-section}}
        {{> templates-blog-section}}
        {{> templates-guideance-section }}
    </main>
</div>