{{#upcoming-title}}
<header class="card-upcoming-title">
    <time datetime="{{ time-utc }}">
        <div class="day">{{ time }}</div>
        <div class="weekday">{{ weekday }}</span>
    </time>
</header>
{{/upcoming-title}}