{{#card-side-plate}}
<div class="card-side">
    <menu class="card-icon-bar">
        {{#each links }}
        <li><a href="{{url}}">{{>atoms-icon}}</a></li>
        {{/each}}
    </menu>
</div>
{{/card-side-plate}}