{{#card-side-plate}}
<div class="card-side">
    <div class="card-icon-bar">
        {{#each links }}
        <a href="{{url}}">{{>atoms-icon}}</a>
        {{/each}}
    </div>
</div>
{{/card-side-plate}}