{{#card-side-plate}}
<div class="card-side">
    <menu class="card-iconbar">
        {{#each links }}
        <li class="card-iconbar-item"><a href="{{url}}" class="card-iconbar-link">{{>atoms-icon}}</a></li>
        {{/each}}
    </menu>
</div>
{{/card-side-plate}}