{{#card-content-event}}
<div class="card-main">
    <header class="card-header">
        <h1>
        {{ title }}
        {{#if presenter}}<br>{{presenter}}{{/if}}
        </h1>
    </header>
    <div class="event-occurance">
        {{ occurence }}<br>
        {{ time }}
    </div>
</div>
{{/card-content-event}}