<menu class="nav-menu primary" aria-label="Primary navigation" aria-expanded="true">
    {{#each nav-primary}}
    <li class="nav-item">
        <a href="{{ url }}" class="nav-link">{{title}}</a>
    </li>
    {{/each}}
</menu>