{{#upcoming-event}}
<div class="event-details">
    <time datetime="{{ time-utc }}" class="event-start">{{ time }}</time>
    <h3 class="event-title">{{ title }}</h3>
    {{> molecules-card-status-Live }}
</div>
{{/upcoming-event}}