<div class="sample-gradient">
    <span class="u-nowrap">Microsoft 365</span> &amp;<br><span  style="font-size: 1.020em">Power Platform</span> 
    <span style="font-size: 1.4125em">Community</span>
</div>