@use '../00-base/designtoken.vars' as dt;

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0.5rem;
    display: inline-flex;
    align-items: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding-block: 0.35em 0.5em;
    padding-inline: 0.25rem 2vw;
    background: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(4px 4px 30px rgba(255, 255, 255, 0.65));
    backdrop-filter: blur(10px) saturate(180%);
    border-top: none;

    @media screen and (max-width: 720px) {
        display: none;
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: flex-start;
        font-size: clamp(1rem, 4vh, 2rem);
        gap: 0;
        background: rgba(255, 255, 255, 1);
        margin: 0;
        .nav-link{
            white-space: wrap;
        }
    }

        
}

.nav-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding-block: 0.5em;
    margin-inline: 0.5em;
    color: dt.$blue;
    transition: color 0.125s ease-in;
    // mix-blend-mode: var(--mode2);
    white-space: nowrap;
    // isolation: isolate;

    &:visited {
        color: dt.$blue;
    }

    &:hover {
        color: dt.$dark-blue;
        transition: color 0.125s ease-out;
    }

    &:active {
        color: dt.$blue;
    }

}

.hamburger {
    border: none;
    background-color: transparent;
    height: inherit;
    height: clamp(2rem, 3vw, 3rem);
    width: auto;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0.5em;
    padding-block: 2em;
    color: dt.$blue;
    display: none;

    @media screen and (max-width: 720px) {
        display: flex;
    }

    // display: none;
    svg {
        pointer-events: none;
        &>* {
            pointer-events: none;
        }

        height: inherit;
        width: inherit;
        aspect-ratio: 1 / 1;
        fill: currentColor;

    }
    
    .active {
        display: none;
    }

    .inactive {
        display: block;
    }

    &.show{
        .active {
            display: block;
        }
    
        .inactive {
            display: none;
        }
        &~.nav-menu{
            display: flex;
            flex-direction: column;
        }
    }


}