<article class="card">
    {{> molecules-card-side-plate }}
    <div class="card-main">
        <header class="card-header">
            <h1>This is the first card sample</h1>
        </header>
        and this is the rest;
    </div>
</article>