{{#card-side-plate}}
<footer class="footer">
    <div class="footer-cnt">
        <menu class="footer-menu">
            {{#each links }}
            <li class="card-iconbar-item"><a href="{{url}}" class="card-iconbar-link">{{>atoms-icon}}</a></li>
            {{/each}}
        </menu>
        <div class="comic">
            <img src="/images/parker-ms-logo.svg" class="parker">
            <div class="comic-text">
                Parker was<br>here
            </div>
        </div>
    </div>
</footer>
{{/card-side-plate}}