{{#card-side-plate}}
<footer class="footer">
    <div class="footer-cnt">
        <menu class="footer-menu">
            {{#each links }}
            <li class="card-iconbar-item"><a href="{{url}}" class="card-iconbar-link">{{>atoms-icon}}</a></li>
            {{/each}}
        </menu>
        <div class="comic">
            <svg class="parker">
                <image href="../../images/parker-was-here.svg" />
            </svg>
        </div>
    </div>
</footer>
{{/card-side-plate}}