<a href="?" class="site-logo-link">
    <div class="site-logo">
    <span class="u-nowrap">Microsoft 365 &amp</span><br> 
    <span class="u-nowrap ff-pp">Power Platform</span><br>
    <span class="u-nowrap ff-com">Community</span><br>
    </div>
</a>