<section class="section-base">
    <div class="section-inner">
        <header>
            <H1>{{ seaction-headline }}</H1>
            <p>{{ section-description }}</p>
        </header>
        <menu class="section-grid">
            <li>
                {{>organisms-event-card}}
            </li>
            <li>
                {{>organisms-event-card}}
            </li>
            <li>
                {{>organisms-event-card}}
            </li>
            <li>
                {{>organisms-event-card}}
            </li>
            <li>
                {{>organisms-event-card}}
            </li>
            <li>
                {{>organisms-event-card}}
            </li>
        </menu>
    </div>
</section>