{{#event-section }}
<section class="section-base">
    <div class="section-inner">
        <header class="section-header">
            <H1>{{ headline }}</H1>
            <p>{{ description }}</p>
        </header>
        <menu class="section-grid event">
            {{#each cards }}
            <li>
                {{>organisms-event-card}}
            </li>
            {{/each}}
        </menu>
    </div>
</section>
{{/event-section }}