<section class="hero-main">
    <div class="hero-main-inner">
        {{>atoms-logo-big}}
        <div class="tagline">
            {{{ tagline }}}
        </div>
        <div class="call2action">
            {{ call-to-action}}
        </div>
    </div>
</section>