<section class="vacation">
    <div class="vacation-inner">
        <p class="text-xl">Out for vacation</p>
        <p class="text-l">We will return on &lt; please fill in the gap here &gt;</p>
    </div>
</section>