{{#icon}}
<span class="icon">
    <svg class="icon-svg {{icon-name}}" aria-hidden="{{aria-hidden}}">
        {{#title}}{{ this }}{{/title}}
        <use xlink:href="/images/base-assets.svg#{{ icon-name }}"></use>
    </svg>
</span>
{{/icon}}