<section class="section-404">
    <div class="section-404-inner">
        <h1>
            ******* Microsoft 365 &amp; *******<br>
            ** Power Platform Community **
            <br>
            <br>
            64k RAM SYSTEM 38911 BASIC BYTES FREE</h1>
        <br>
        ERROR CODE: 
        <pre class="pre-center">    
       444444444            000000000                 444444444  
      4::::::::4          00:::::::::00              4::::::::4  
     4:::::::::4        00:::::::::::::00           4:::::::::4  
    4::::44::::4       0:::::::000:::::::0         4::::44::::4  
   4::::4 4::::4       0::::::0   0::::::0        4::::4 4::::4  
  4::::4  4::::4       0:::::0     0:::::0       4::::4  4::::4  
 4::::4   4::::4       0:::::0     0:::::0      4::::4   4::::4  
4::::444444::::444     0:::::0 000 0:::::0     4::::444444::::444
4::::::::::::::::4     0:::::0 000 0:::::0     4::::::::::::::::4
4444444444:::::444     0:::::0     0:::::0     4444444444:::::444
          4::::4       0:::::0     0:::::0               4::::4  
          4::::4       0::::::0   0::::::0               4::::4  
          4::::4       0:::::::000:::::::0               4::::4  
        44::::::44      00:::::::::::::00              44::::::44
        4::::::::4        00:::::::::00                4::::::::4
        4444444444          000000000                  4444444444
</pre>
        <br>
        <br>
        GOTO <a href="?">HOME</a>&nbsp;<br>
        READY<br>
        <span class="ascii-block">&block;</span>
    </div>
</section>