<header class="page-header">
    {{> atoms-logo-small }}
    <nav class="nav">
        <button class="hamburger"  tabindex="-1">
            <svg class="active">
                <title id="ham-title-active">Click to close - Hamburger in form of arrows</title>
                <use xlink:href="../../images/base-assets.svg#hamburger" />
            </svg>
            <svg class="inactive">
                <title id="ham-title-inactive">Click to open - Hamburger in form of three stripes</title>
                <use xlink:href="../../images/base-assets.svg#hamburger-inactive" />
            </svg>
        </button>
        {{>molecules-nav-primary}}
    </nav>
</header>