.card {
  display: grid;
  width: 450px;
  height: 250px;
  border-radius: 1rem;
  margin: auto;

  grid-template-columns: 4rem auto;

  backdrop-filter: blur(20px) saturate(200%) brightness(125%);
  background-color: rgba(255, 255, 255, 0.45);
  background-image: var(--frosted-glass);
  background-size: var(--frosted-glass-size);
  color: black;

  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.95));

}

.card-side {

  // position: relative;positionpositionpositionpositionposition
  // height: 100%;heightheightheightheightheight
  // overflow: clip;overflowoverflowoverflowoverflowoverflow
  border-top-left-radius: inherit;

  border-bottom-left-radius: inherit;

  backdrop-filter: blur(10px) saturate(120%) brightness(120%);
  background-color: rgba(255, 255, 255, 0.8);
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
  background-image: var(--frosted-glass);
  background-size: var(--frosted-glass-size);

  &:before {
    position: absolute;
    top: 25%;
    bottom: 20px;
    left: 8px;

    isolation: isolate;

    display: block;
    width: 4px;
    height: 50%;
    border-radius: 8px;

    background-color: var(--blue);

    content: " ";
  }
}

.card-main {
  overflow: clip;
  padding: 2rem;

  text-shadow: 0.125em 0.125em 0.125em rgba(255, 255, 255, 0.2);
}

.card-icon-bar {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1.25rem;
  .icon{
    width: 2rem;
    .icon-svg{
      fill; currentColor;
    }
  }
}