.page-header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
    .nav{
        grid-column: 2 / span 5;
    }
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}